/* /Components/Weather/WeatherCard.razor.rz.scp.css */
/*.card {
    background-color: red;
    height: 80px;
    width: 100px;
}*/
/* /Pages/Index.razor.rz.scp.css */
*[b-8nt4pwf2vu] {
  padding: 0;
  margin: 0; }

.banner-img[b-8nt4pwf2vu] {
  position: fixed;
  height: 500px;
  width: 100%;
  background-image: url(https://i.pinimg.com/originals/0b/a3/d6/0ba3d60362c7e6d256cfc1f37156bad9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  overflow: hidden; }

.top-section[b-8nt4pwf2vu] {
  position: relative;
  display: flex;
  height: 500px;
  width: 100%;
  background-color: transparent;
  color: #fff;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; }

.top-section .logo[b-8nt4pwf2vu] {
  position: absolute;
  top: 5px;
  left: 10px;
  line-height: 50px;
  font-weight: 400;
  font-size: 24px;
  color: #fff; }

.top-section .logo:hover[b-8nt4pwf2vu] {
  color: #CB2AFA; }

.top-section h1[b-8nt4pwf2vu] {
  font-size: 3.5rem;
  text-align: center; }

.top-section .intro[b-8nt4pwf2vu] {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  z-index: 2;
  gap: 50px; }

.top-section a[b-8nt4pwf2vu] {
  align-self: center; }

.top-section .intro a[b-8nt4pwf2vu] {
  text-decoration: none; }

.top-section .intro .cta-btn[b-8nt4pwf2vu] {
  align-items: center;
  background: linear-gradient(160deg, #CB2AFA, #35E1FD);
  border: none;
  transition: all 0.5s ease;
  padding: .7em 3em;
  border-radius: 4px;
  color: #ffffff; }

.top-section .cta-btn:hover[b-8nt4pwf2vu] {
  background: #ffffff;
  color: #CB2AFA; }

.top-section .cta-btn:active[b-8nt4pwf2vu] {
  background: #35E1FD;
  color: #ffffff;
  transition: none; }

.content-section[b-8nt4pwf2vu] {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5em 3em 0 3em;
  background-color: #ffffff;
  z-index: 1; }

.content-section .content-wrapper[b-8nt4pwf2vu] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: stretch;
  width: 100%;
  gap: 25px;
  margin-bottom: 5em; }

.content-section .content-wrapper.reverse[b-8nt4pwf2vu] {
  flex-wrap: wrap; }

.content-wrapper .content-image[b-8nt4pwf2vu] {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  flex-grow: 1; }

.content-wrapper .content-image img[b-8nt4pwf2vu] {
  height: 250px;
  max-width: 350px;
  object-fit: cover;
  box-shadow: -15px -15px 14px rgba(14, 10, 47, 0.9); }

.content-wrapper .content-text[b-8nt4pwf2vu] {
  text-align: center;
  flex-grow: 1;
  justify-self: center;
  align-self: center;
  width: 350px;
  padding: 2em; }

.content-wrapper .content-text h1[b-8nt4pwf2vu] {
  font-weight: bold;
  margin-bottom: .7em;
  margin-top: 0; }

.content-wrapper .content-text p[b-8nt4pwf2vu] {
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin: 0; }

.content-spacer[b-8nt4pwf2vu] {
  flex: 1 0 auto; }

footer[b-8nt4pwf2vu] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #1B207E;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  flex-shrink: 0; }

footer .copywrite[b-8nt4pwf2vu] {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center; }

footer .contact[b-8nt4pwf2vu] {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%; }

footer .contact a[b-8nt4pwf2vu] {
  text-decoration: none;
  align-self: center;
  color: #ffffff;
  margin-left: 1em; }

footer .contact a:hover[b-8nt4pwf2vu] {
  color: #CB2AFA; }

footer .contact a:active[b-8nt4pwf2vu] {
  color: #ffffff; }

footer .contact a:focus[b-8nt4pwf2vu] {
  color: #CB2AFA; }

footer .contact i[b-8nt4pwf2vu] {
  font-size: 30px; }

footer .contact i:hover[b-8nt4pwf2vu] {
  color: #CB2AFA; }

footer .contact i:active[b-8nt4pwf2vu] {
  color: #ffffff; }

@media (max-width: 555px) {
  footer[b-8nt4pwf2vu] {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 300px; } }

@media (max-width: 390px) {
  .content-wrapper .content-image img[b-8nt4pwf2vu] {
    max-width: 300px; } }
/* /Projects/Dashboard/Components/SideBar.razor.rz.scp.css */
.sidebar[b-czo590dqh5] {
  position: relative;
  flex-grow: 1;
  height: 100%;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  transition: all 0.5s ease; }

.sidebar.active[b-czo590dqh5] {
  width: 240px; }

.nav_list[b-czo590dqh5] {
  padding: 0; }

.sidebar .logo_content .logo[b-czo590dqh5] {
  color: #ffffff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease; }

.sidebar.active .logo_content .logo[b-czo590dqh5] {
  opacity: 1;
  pointer-events: none; }

.logo_content .logo i[b-czo590dqh5] {
  font-size: 28px;
  margin-right: 5px; }

.logo_content .logo .logo_name[b-czo590dqh5] {
  font-size: 20px;
  font-weight: 400; }

.sidebar #btn[b-czo590dqh5] {
  position: absolute;
  left: 50%;
  top: 6px;
  color: #ffffff;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%); }

.sidebar.active #btn[b-czo590dqh5] {
  left: 90%; }

.sidebar ul[b-czo590dqh5] {
  margin-top: 20px; }

.sidebar ul li[b-czo590dqh5] {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 5px 0;
  list-style: none;
  line-height: 50px; }

.sidebar ul li a[b-czo590dqh5] {
  color: #ffffff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap; }

.sidebar ul li a:hover[b-czo590dqh5] {
  background: #ffffff;
  color: #11101d; }

.sidebar ul li i[b-czo590dqh5] {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center; }

.sidebar ul li .bx-search[b-czo590dqh5] {
  position: absolute;
  z-index: 99;
  color: #ffffff;
  font-size: 22px;
  transition: all 0.5s ease; }

.sidebar ul li .bx-search:hover[b-czo590dqh5] {
  background: #ffffff;
  color: #1d1b31; }

.sidebar ul li .tooltip[b-czo590dqh5] {
  position: absolute;
  left: 122px;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: #ffffff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block; }

.sidebar.active ul li .tooltip[b-czo590dqh5] {
  display: none; }

.sidebar .links_name[b-czo590dqh5] {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease; }

.sidebar.active .links_name[b-czo590dqh5] {
  opacity: 1;
  pointer-events: auto; }

.sidebar ul li:hover .tooltip[b-czo590dqh5] {
  transition: all 0.5s ease;
  top: 50%;
  opacity: 1; }

.sidebar ul input[b-czo590dqh5] {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: #ffffff; }

.sidebar .profile_content[b-czo590dqh5] {
  position: absolute;
  color: #ffffff;
  bottom: 0;
  left: 0;
  width: 100%; }

.sidebar .profile_content .profile[b-czo590dqh5] {
  position: relative;
  padding: 10px 6px;
  background: none;
  transition: all 0.4s ease; }

.sidebar.active .profile_content .profile[b-czo590dqh5] {
  background: #1d1b31; }

.profile_content .profile .profile_details[b-czo590dqh5] {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: all 0.5s ease; }

.sidebar.active .profile .profile_details[b-czo590dqh5] {
  opacity: 1;
  pointer-events: auto; }

.profile .profile_details img[b-czo590dqh5] {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px; }

.profile .profile_details .name_job[b-czo590dqh5] {
  margin-left: 10px; }

.profile .profile_details .name[b-czo590dqh5] {
  font-size: 15px;
  font-weight: 400; }

.profile .profile_details .job[b-czo590dqh5] {
  font-size: 12px; }

.profile #log_out[b-czo590dqh5] {
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  background: #1d1b31;
  transition: all 0.4s ease; }

.profile #log_out:hover[b-czo590dqh5] {
  background: #ffffff;
  color: #1d1b31; }

.sidebar.active .profile #log_out[b-czo590dqh5] {
  left: 88%;
  background: none; }
/* /Projects/Dashboard/DashboardLayout.razor.rz.scp.css */
.page[b-ucfttf1mp3] {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

main[b-ucfttf1mp3] {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.text[b-ucfttf1mp3] {
  font-size: 25px;
  font-weight: 500;
  margin: 12px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
*[b-snfefjgk3b] {
  border: 0;
  padding: 0; }

.page[b-snfefjgk3b] {
  height: 100vh; }

main[b-snfefjgk3b] {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

@media (min-width: 641px) {
  .page[b-snfefjgk3b] {
    flex-direction: row; } }
