/* /Components/AppCard.razor.rz.scp.css */
/*.card {
    background-color: red;
    height: 80px;
    width: 100px;
}*/
/* /Components/SideBar.razor.rz.scp.css */
.sidebar[b-skkzro3m4w] {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  transition: all 0.5s ease; }

.sidebar.active[b-skkzro3m4w] {
  width: 240px; }

.nav_list[b-skkzro3m4w] {
  padding: 0; }

.sidebar .logo_content .logo[b-skkzro3m4w] {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease; }

.sidebar.active .logo_content .logo[b-skkzro3m4w] {
  opacity: 1;
  pointer-events: none; }

.logo_content .logo i[b-skkzro3m4w] {
  font-size: 28px;
  margin-right: 5px; }

.logo_content .logo .logo_name[b-skkzro3m4w] {
  font-size: 20px;
  font-weight: 400; }

.sidebar #btn[b-skkzro3m4w] {
  position: absolute;
  left: 50%;
  top: 6px;
  color: #fff;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%); }

.sidebar.active #btn[b-skkzro3m4w] {
  left: 90%; }

.sidebar ul[b-skkzro3m4w] {
  margin-top: 20px; }

.sidebar ul li[b-skkzro3m4w] {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 5px 0;
  list-style: none;
  line-height: 50px; }

.sidebar ul li a[b-skkzro3m4w] {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap; }

.sidebar ul li a:hover[b-skkzro3m4w] {
  background: #fff;
  color: #11101d; }

.sidebar ul li i[b-skkzro3m4w] {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center; }

.sidebar ul li .bx-search[b-skkzro3m4w] {
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 22px;
  transition: all 0.5s ease; }

.sidebar ul li .bx-search:hover[b-skkzro3m4w] {
  background: #fff;
  color: #1d1b31; }

.sidebar ul li .tooltip[b-skkzro3m4w] {
  position: absolute;
  left: 122px;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block; }

.sidebar.active ul li .tooltip[b-skkzro3m4w] {
  display: none; }

.sidebar .links_name[b-skkzro3m4w] {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease; }

.sidebar.active .links_name[b-skkzro3m4w] {
  opacity: 1;
  pointer-events: auto; }

.sidebar ul li:hover .tooltip[b-skkzro3m4w] {
  transition: all 0.5s ease;
  top: 50%;
  opacity: 1; }

.sidebar ul input[b-skkzro3m4w] {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: #fff; }

.sidebar .profile_content[b-skkzro3m4w] {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%; }

.sidebar .profile_content .profile[b-skkzro3m4w] {
  position: relative;
  padding: 10px 6px;
  background: none;
  transition: all 0.4s ease; }

.sidebar.active .profile_content .profile[b-skkzro3m4w] {
  background: #1d1b31; }

.profile_content .profile .profile_details[b-skkzro3m4w] {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: all 0.5s ease; }

.sidebar.active .profile .profile_details[b-skkzro3m4w] {
  opacity: 1;
  pointer-events: auto; }

.profile .profile_details img[b-skkzro3m4w] {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px; }

.profile .profile_details .name_job[b-skkzro3m4w] {
  margin-left: 10px; }

.profile .profile_details .name[b-skkzro3m4w] {
  font-size: 15px;
  font-weight: 400; }

.profile .profile_details .job[b-skkzro3m4w] {
  font-size: 12px; }

.profile #log_out[b-skkzro3m4w] {
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  background: #1d1b31;
  transition: all 0.4s ease; }

.profile #log_out:hover[b-skkzro3m4w] {
  background: #fff;
  color: #1d1b31; }

.sidebar.active .profile #log_out[b-skkzro3m4w] {
  left: 88%;
  background: none; }
/* /Pages/Counter.razor.rz.scp.css */
h1[b-jqecmglgf5] {
  color: #7983b5; }
/* /Shared/DashboardLayout.razor.rz.scp.css */
body[b-gys1fxjy41] {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden; }

.home_content[b-gys1fxjy41] {
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  transition: all 0.5s ease; }

.home_content.active[b-gys1fxjy41] {
  width: calc(100% - 240px);
  left: 240px; }

.home_content .text[b-gys1fxjy41] {
  font-size: 25px;
  font-weight: 500;
  color: #1d1b31;
  margin: 12px; }

/*root {
    --headerBarHeight:36px;
    --sidebarWidth: 270px;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {*/
/*flex: 1;*/
/*}

.headerbar {
    height: var(--headerBarHeight);
    display: block;
}

.sidebar {
    background-color: darkred;
    width: var(--sidebarWidth);
}

main {
    margin-left: var(--sidebarWidth);
}

@media (min-width:992px) {

    .sidebar {
        transform: none;
        visibility: visible !important;
        top: var(--headerBarHeight);
        height: calc(100% - var(--topNavbarHeight));
    }
}*/
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-snfefjgk3b] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-snfefjgk3b] {
    flex: 1;
}

.sidebar[b-snfefjgk3b] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-snfefjgk3b] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-snfefjgk3b]  a, .top-row[b-snfefjgk3b]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-snfefjgk3b]  a:hover, .top-row[b-snfefjgk3b]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-snfefjgk3b]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-snfefjgk3b] {
        display: none;
    }

    .top-row.auth[b-snfefjgk3b] {
        justify-content: space-between;
    }

    .top-row[b-snfefjgk3b]  a, .top-row[b-snfefjgk3b]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-snfefjgk3b] {
        flex-direction: row;
    }

    .sidebar[b-snfefjgk3b] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-snfefjgk3b] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-snfefjgk3b]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-snfefjgk3b], article[b-snfefjgk3b] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-c2wpa7m53j] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-c2wpa7m53j] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-c2wpa7m53j] {
    font-size: 1.1rem;
}

.oi[b-c2wpa7m53j] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-c2wpa7m53j] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-c2wpa7m53j] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-c2wpa7m53j] {
        padding-bottom: 1rem;
    }

    .nav-item[b-c2wpa7m53j]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-c2wpa7m53j]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-c2wpa7m53j]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-c2wpa7m53j] {
        display: none;
    }

    .collapse[b-c2wpa7m53j] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
