@using WebApp.Services
@using WebApp.Projects.Dashboard.Components
@inherits LayoutComponentBase
@inject SideBarService SideBarService

<MediaQueryList>
    <div class="page" style="height: 100vh;">
        <SideBar/>
        <main class="@SideBarService.IsExpandedClass">
            <div class="text">@Body</div>
        </main>
    </div>
</MediaQueryList>

@code
{
    protected override void OnInitialized()
    {
        SideBarService.OnChange += StateHasChanged;
    }
}
