@page "/"

<div class="banner-img"></div>

<section class="top-section">
    <a href="#">
        <div class="logo">
            <i class='bx bxs-hot'></i>
            <span>Blazor Concepts</span>
        </div>
    </a>
    <div class="intro">
        <h1>Design your website with Blazor</h1>
        <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">
            <span id="cta-btn" class="btn btn-primary">Learn More</span>
        </a>
    </div>
</section>

<section class="content-section">
    <div class="content-wrapper">
        <div class="content-image">
            <a href="dashboard">
                <img src="https://royalsociety.org/-/media/events/2019/02/big-data/web-image.jpg"/>
            </a>
        </div>
        <div class="content-text">
            <h1>Visualization</h1>
            <p>See how you can display data with various formats all in a central display area.</p>
        </div>
    </div>
    <div class="content-wrapper reverse">
        <div class="content-text">
            <h1>Parallax</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="content-image">
            <img src="https://www.hengeler.com/fileadmin/_processed_/f/3/csm_LegalTech_38ab41b0a0.jpg"/>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="content-image">
            <img src="https://emerging-europe.com/wp-content/uploads/2019/02/bigstock-programming-code-abstract-tech-270689191.jpg"/>
        </div>
        <div class="content-text">
            <h1>Color and Styles</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div>
</section>

<section class="content-spacer">
</section>

<footer>
    <div class="copywrite">Ngexdev LLC &#169; All Rights Reserved</div>
    <div class="contact">
        <a href="#"><span>Contact Us</span></a>
        <a href="https://www.instagram.com/casey.b24/"><i class='bx bxl-instagram'></i></a>
        <a href="https://dribbble.com/cbcrouse"><i class='bx bxl-dribbble'></i></a>
        <a href="https://www.behance.net/caseycrouse"><i class='bx bxl-behance' ></i></a>
    </div>
</footer>