body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.home_content.active {
    width: calc(100% - 240px);
    left: 240px;
}

.home_content .text {
    font-size: 25px;
    font-weight: 500;
    margin: 12px;
}