@using WebApp.Services
@inherits LayoutComponentBase
@inject SideBarService SideBarService

<MediaQueryList>
    <div>
        <SideBar />
    </div>
    <main class="home_content @SideBarService.IsExpandedClass">
        <div class="text">@Body</div>
    </main>
</MediaQueryList>

@code
{
    protected override void OnInitialized()
    {
        SideBarService.OnChange += StateHasChanged;
    }
}
