@page "/"

<div class="banner-img"></div>

<section class="top-section">
    <a href="#">
        <div class="logo">
            <i class='bx bxs-hot'></i>
            <span>Blazor Concepts</span>
        </div>
    </a>
    <div class="intro">
        <h1>Design your website with Blazor</h1>
        <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">
            <span class="cta-btn">Learn More</span>
        </a>
    </div>
</section>

<section class="content-section">
    <div class="content-wrapper">
        <div class="content-image">
            <a href="dashboard">
                <img src="https://wallpaperaccess.com/full/4983851.jpg"/>
            </a>
        </div>
        <div class="content-text">
            <h1>Visualization</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div>
    <div class="content-wrapper reverse">
        <div class="content-text">
            <h1>Parallax</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="content-image">
            <img src="https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/602f209c9d6fd042ea9aacd7_600880bd477ad443472b1612_parallax-scrolling-effect.jpeg" />
        </div>
    </div>
    <div class="content-wrapper">
        <div class="content-image">
            <img src="https://purcolour.com/wp-content/uploads/2016/01/banner-powder.jpg" />
        </div>
        <div class="content-text">
            <h1>Color and Styles</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div>
</section>

<section class="content-spacer">
</section>

<footer>
    <div class="copywrite">
        <p>Ngexdev LLC &#169; All Rights Reserved</p>
    </div>
    <div class="contact">
        <a href="#"><span>Contact Us</span></a>
        <a href="https://www.instagram.com/casey.b24/"><i class='bx bxl-instagram'></i></a>
        <a href="https://dribbble.com/cbcrouse"><i class='bx bxl-dribbble'></i></a>
        <a href="https://www.behance.net/caseycrouse"><i class='bx bxl-behance' ></i></a>
    </div>
</footer>